li { font-weight:bold; font-style:italic; font-size:110%; color:red; }
caption { color:red }
a { color:red; text-decoration:none; }
a:hover { text-decoration: underline; background-color: lightgreen; }
td { color:red; font-style:italic; font-size:130%; }
th { text-align:center; }
caption { text-align:center; }
tbody.tracks { background-color: Ivory; }