li { font-weight:bold; font-style:italic; font-size:120%; color:red; }
caption { color:red }
a { color:red; text-decoration: none; }
a:hover { text-decoration: underline; background-color: lightgreen; }
td { color:red; font-style:italic; }
tbody.tracks { background-color: Ivory; }