h1 { font-family: 'Pacifico', cursive; color:red; text-align:center; }
hr { color:black; background-color:black; height:3px; }
a  { color:red; font-size:1.2em; font-weight:bold; }
.footer { color:red; text-align:center; font-size:1.2em; font-weight:bold; }
