h1 { font-family: 'Pacifico', cursive; color:red; text-align:center; }
h2 { color:blue; text-align:center; }
hr { color:black; background-color:black; height:3px; }
a  { font-size: 1.2em;  }
a:link    { color: red; }
a:visited { color: blue; }
a:hover   { font-weight: bold; }
a:active  { text-decoration:none; }
.footer { color:red; text-align:center; font-size:1.2em; font-weight:bold; }
